<html>
  <head>
    <title>YouTube Calculator</title>
    <link rel="stylesheet" type="text/css" href="/css/final.css"> 
  </head>
  <body>
    <header>
      <a href="https://playlistlength.adiiityaaa.repl.co/">Home</a>
      <a href="https://playlistlength.adiiityaaa.repl.co/spotify">Spotify</a>
      <a href="https://playlistlength.adiiityaaa.repl.co/otherprojects">Other Projects</a>
    </header>
    <h1>YouTube Playlist Length Calculator</h1>
<div class="result-container">
  <p class="result"><%= result %></p>
  <button class="calculator-btn" onclick="location.href='https://playlistlength.adiiityaaa.repl.co/youtube'">Back to calculator</button>
</div>
    <div class="content">
      <div class="image">
        <img src="https://example.com/image.jpg" alt="Image description">
      </div>
      <div class="text">
        <p>Thank you for using YouTube Playlist Length Calculator. To calculate the length of any other playlist, you can click Back to calculator button.</p>
      </div>
    </div>
    <footer>
      <p>© Aditya Kokate</p>
    </footer>
  </body>
</html>
